<%- include('../partials/header') %>
  <h2>⏱ Top 5 Longest Tasks</h2>
<div class="print-header">
  
  <p>Date: <%= new Date().toLocaleDateString('en-GB') %></p>
  <hr>
</div>
<button onclick="window.print()" class="btn-print">🖨 Print Report</button>
<input type="text" class="table-search" placeholder="Search...">

<table class="styled-table data-table">
  

<thead>
<tr>
  <th data-column="0">Task</th>
  <th data-column="1">Project</th>
  <th data-column="2">Owner</th>
  <th data-column="3">Total Time (min)</th>
  <th data-column="4">Log Count</th>
</tr>
</thead>

<tbody>
<% longest.forEach(t => { %>
<tr>
  <td><%= t.title %></td>
  <td><%= t.project %></td>
  <td data-value="<%= t.owner %>"><%= t.owner %></td>
  <td data-value="<%= t.totalMinutes %>"><%= t.totalMinutes %></td>
  <td data-value="<%= t.logCount %>"><%= t.logCount %></td>
</tr>
<% }) %>
</tbody>
</table>

<script src="/js/table.js"></script>

<%- include('../partials/footer') %>