<%- include('../partials/header') %>

<h2>⏱ Top 5 Longest Tasks</h2>

<table border="1">
<tr>
  <th>Task</th>
  <th>Project</th>
  <th>Owner</th>
  <th>Total Time (min)</th>
  <th>Log Count</th>
</tr>

<% longest.forEach(t => { %>
<tr>
  <td><%= t.title %></td>
  <td><%= t.project %></td>
  <td><%= t.owner %></td>
  <td><%= t.totalMinutes %></td>
  <td><%= t.logCount %></td>
</tr>
<% }) %>

</table>

<%- include('../partials/footer') %>