<%- include('../partials/header') %>

<h2>Log Detail</h2>

<div class="stat-card users">
<h3><%= taskLog.Task.title %></h3>
  <table class="log-detail-table">
    <tbody>

      

      <tr>
        <th>Project</th>
        <td><%= taskLog.Task && taskLog.Task.Project ? taskLog.Task.Project.project_name : 'N/A' %></td>
      </tr>

      <tr>
        <th>Owner</th>
        <td><%= taskLog.Task && taskLog.Task.Project && taskLog.Task.Project.User ? taskLog.Task.Project.User.name : 'N/A' %></td>
      </tr>

      <tr>
        <th>Action</th>
        <td><%= taskLog.action %></td>
      </tr>

      <tr>
        <th>Time Spent</th>
        <td><%= taskLog.time_spent %> minutes</td>
      </tr>

      <tr>
        <th>Date</th>
        <td><%= new Date(taskLog.created_at).toLocaleString() %></td>
      </tr>

    </tbody>
  </table>

  <div class="log-actions">
    <a href="/task-logs">
      <button type="button" style="background:#7f8c8d;">⬅ Back</button>
    </a>
  </div>

</div>

<%- include('../partials/footer') %>